#page{
	.container;
	.border-radius(6px);
	.box-shadow(0 0 8px fade(#000,30%));
	position: relative;
	z-index: 1;
	margin: 50px auto -6px;
	padding: 0 0 60px;
	background: #fff;
}
#page-header{
	height: 246px;
	padding: 50px 0 0;
	margin: -50px 0 40px;
	background: url(../images/bg/02.jpg);
	.logo{
		.col-5;
		.fh;
		font-size: 23px;
		line-height: 1.2;
		font-weight: 300;
		padding: 46px 0 0 54px;
		a{
			display: block;
			padding: 10px 0 0 130px;
			min-height: 110px;
			color: @cp;
			text-decoration: none;
			background: url(../images/logo/01.png) no-repeat;
		}
		mark{
			font-size: 21px;
			font-weight: 300;
			color: @lightgreen;
		}
	}
	.search{
		.col-4;
		padding: 25px 29px 0 78px;
		float: right;
		input[type=text]{
			.rin;
			.border-radius(4px);
			float: left;
			width: 100%;
			height: 35px;
			padding: 0 80px 0 10px;
			margin: 0 -35px 0 0;
			color: @cp;
			border: 1px solid transparent;
			border-top-color: fade(@cp,20%);
			border-left-color: fade(@cp,20%);
			background: #fff;
			background: fade(#fff,80%);
			&:focus{
				background: #fff;
			}
		}
		button{
			.rin;
			display: block;
			float: left;
			width: 35px;
			height: 35px;
			overflow: hidden;
			font-size: 21px;
			color: @cl;
			&:hover{
				color: darken(@cl,10%);
			}
			&:before{
				.fi;
				content: '\e800';
				margin: 0 15px 0 4px;
			}
		}
	}
}
#col-main{
	float: right;
	width: 720px;
	padding: 0 40px 0 0;
}
#col-center{
	float: left;
	width: 410px;
}
#col-right{
	float: right;
	width: 230px;
}
#col-left{
	float: left;
	width: 200px;
	margin: 0 0 0 40px;
}
#col-bottom{
	position: relative;
}
.news-items{
	header{
		.fh;
		float: left;
		font-size: 21px;
		line-height: 1;
		margin: -5px 0 16px;
	}
	nav{
		float: right;
		font-size: 13px;
		line-height: 1;
		margin: -1px 0 16px;
		a{
			display: inline-block;
			text-decoration: none;
			color: @cp;
			&:hover{
				text-decoration: underline;
			}
			&:before{
				.fi;
				float: right;
				content: '\e801';
				font-size: 20px;
				color: @cl;
				text-decoration: none;
				margin: -3px 3px 0 10px;
			}
		}
	}
	article{
		.clearfix;
		.border-radius(4px);
		clear: both;
		font-size: 15px;
		line-height: 1.1;
		margin: 0 0 32px;
		figure{
			float: left;
			margin: 3px 18px 0 0;
			img{
				.border-radius(4px);
			}
		}
		h2{
			.fp;
			font-size: 18px;
			margin: 0;
			color: @cl;
			letter-spacing: 0;
			font-weight: normal;
		}
		p{
			margin: 12px 0;
		}
		.more{
			display: inline-block;
			font-size: 14px;
			margin: 0 0 0 5px;
			letter-spacing: 0;
			&:before{
				.fi;
				float: right;
				content: '\e803';
				font-size: 16px;
				line-height: 1;
				margin: -1px 0 0 5px;
				text-decoration: none;
			}
		}
		&.main-item{
			margin: 0 0 32px;
			padding: 0 24px 15px;
			line-height: 1.3;
			background: #eaf3e2;
			figure{
				float: none;
				margin: 0 -24px 17px;
			}
			h2{
				font-size: 20px;
				margin: 0 0 12px;
			}
		}
	}
}
.box-clenstvi{
	padding: 30px 0 0;
	margin: 0 0 34px;
	border-top: 1px solid #d4e3c5;
	.box-in{
		.border-radius(4px 4px 0 0);
		min-height: 180px;
		padding: 16px 80px 35px 20px;
		background: #d4e3c5 url(../images/bg/03.jpg) no-repeat right bottom;
	}
	header{
		.fh;
		font-weight: 300;
		font-size: 21px;
		line-height: 1.1;
		margin: 0 0 16px;
		mark{
			font-weight: 400;
		}
	}
	ul{
		.rul;
		margin: 0 34px 15px 2px;
		li{
			.rli;
			a{
				.transition(0.2s);
				display: block;
				position: relative;
				height: 31px;
				line-height: 31px;
				font-size: 14px;
				padding: 0 0 0 15px;
				color: #fff;
				text-decoration: none;
				background: #7f8775;
				&:before{
					.transition(0.2s);
					position: absolute;
					left: 100%;
					top: 0;
					content: '';
					border: 15px solid transparent;
					border-right-width: 0;
					border-left-width: 7px;
					border-left-color: #7f8775;
				}
				&:hover{
					background: darken(#7f8775,10%);
					&:before{
						border-left-color: darken(#7f8775,10%);
					}
				}
			}
			&:nth-child(odd){
				a{
					background: #b1bda4;
					&:before{
						border-left-color: #b1bda4;
					}
					&:hover{
						background: darken(#b1bda4,10%);
						&:before{
							border-left-color: darken(#b1bda4,10%);
						}
					}
				}
			}
		}
	}
}
.box-pro-lekare{
	.border-radius(4px);
	position: relative;
	padding: 14px 0 0 0;
	margin: 0 0 30px 0;
	border: 1px solid #cfd2c8;
	background: #fff;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 10px;
		background: url(../images/bg/02.png) no-repeat top;
	}
	.title{
		margin: 0 12px 15px 12px;
		padding: 0 0 4px;
		border-bottom: 1px solid #eee;
	}
	.premium{
		margin: 10px 10px 17px;
		font-weight: bold;
		font-size: 12px;
		a{
			color: #c80000;
			padding: 0 0 0 20px;
			background: url(../images/icon/09.png) no-repeat 0 1px;
		}
	}
	.search{
		padding: 0 10px;
		margin: 0 0 6px;
		input[type=text]{
			.rin;
			color: @cp;
			border: 1px solid #aaa;
			background: #fff url(../images/icon/08.png) no-repeat 6px 6px;
			padding: 6px 5px 6px 30px;
			width: 100%;
			height: 32px;
			font-size: 12px;
			color: @cp;
		}
	}
	.menu{
		ul{
			.rul;
			height: 200px;
			overflow: auto;
			li{
				.rli;
				margin: 0 1px;
				border-top: 1px dotted #aeb1d3;
				a{
					display: block;
					font-size: 12px;
					line-height: 14px;
					color: @cp;
					text-decoration: none;
					padding: 4px 0 3px 30px;
					background: url(../images/icon/bullet-casopis-grey.gif) no-repeat 10px 5px;
					&:hover{
						color: @cl;
						text-decoration: underline;
					}
				}
				&.darkgrey a {
					background-image: url(../images/icon/bullet-casopis-darkgrey.gif);
				}
				&.grey a {
					background-image: url(../images/icon/bullet-casopis-grey.gif);
				}
				&.lightred a {
					background-image: url(../images/icon/bullet-casopis-lightred.gif);
				}
				&.darkred a {
					background-image: url(../images/icon/bullet-casopis-darkred.gif);
				}
				&.orange a {
					background-image: url(../images/icon/bullet-casopis-orange.gif);
				}
				&.lightorange a {
					background-image: url(../images/icon/bullet-casopis-lightorange.gif);
				}
				&.black a {
					background-image: url(../images/icon/bullet-casopis-black.gif);
				}
				&.blue a {
					background-image: url(../images/icon/bullet-casopis-blue.gif);
				}
				&.darkblue a {
					background-image: url(../images/icon/bullet-casopis-darkblue.gif);
				}
				&.green a {
					background-image: url(../images/icon/bullet-casopis-green.gif);
				}
				&.darkgreen a {
					background-image: url(../images/icon/bullet-casopis-darkgreen.gif);
				}
				&.darkgreen2 a {
					background-image: url(../images/icon/bullet-casopis-darkgreen2.gif);
				}
				&.yellowgreen a {
					background-image: url(../images/icon/bullet-casopis-yellowgreen.gif);
				}
				&.lightgreen a {
					background-image: url(../images/icon/bullet-casopis-lightgreen.gif);
				}
				&.yellow a {
					background-image: url(../images/icon/bullet-casopis-yellow.gif);
				}
				&.darkyellow a {
					background-image: url(../images/icon/bullet-casopis-darkyellow.gif);
				}
				&.violet a {
					background-image: url(../images/icon/bullet-casopis-violet.gif);
				}
				&.violet2 a {
					background-image: url(../images/icon/bullet-casopis-violet2.gif);
				}
				&.brown a {
					background-image: url(../images/icon/bullet-casopis-brown.gif);
				}
				&.lightbrown a {
					background-image: url(../images/icon/bullet-casopis-lightbrown.gif);
				}
				&.lightblue a {
					background-image: url(../images/icon/bullet-casopis-lightblue.gif);
				}
				&.lightviolet a {
					background-image: url(../images/icon/bullet-casopis-lightviolet.gif);
				}
				&.pink a {
					background-image: url(../images/icon/bullet-casopis-pink.gif);
				}
				&.pink2 a {
					background-image: url(../images/icon/bullet-casopis-pink2.gif);
				}
				&.ocean a {
					background-image: url(../images/icon/bullet-casopis-ocean.gif);
				}
				&.redgrey a {
					background-image: url(../images/icon/bullet-casopis-redgrey.gif);
				}
				&.redwine a {
					background-image: url(../images/icon/bullet-casopis-redwine.gif);
				}
				&.pinkred a {
					background-image: url(../images/icon/bullet-casopis-pinkred.gif);
				}
				&.bluegreen a {
					background-image: url(../images/icon/bullet-casopis-bluegreen.gif);
				}
				&.darkviolet a {
					background-image: url(../images/icon/bullet-casopis-darkviolet.gif);
				}
				&.darkblue2 a {
					background-image: url(../images/icon/bullet-casopis-darkblue2.gif);
				}
				&.biogen a {
					background-image: url(../images/icon/bullet-casopis-biogen.gif);
				}
				&.greenblue a {
					background-image: url(../images/icon/bullet-casopis-greenblue.gif);
				}
				&.darkblue3 a {
					background-image: url(../images/icon/bullet-casopis-darkblue3.gif);
				}
				&.endo a {
					background-image: url(../images/icon/bullet-casopis-endo.gif);
				}
				&.violetwine a {
					background-image: url(../images/icon/bullet-casopis-violetwine.gif);
				}
				&.redpink a {
					background-image: url(../images/icon/bullet-casopis-redpink.gif);
				}
				&.brownred a {
					background-image: url(../images/icon/bullet-casopis-brownred.gif);
				}
				&.darkred2 a {
					background-image: url(../images/icon/bullet-casopis-darkred2.gif);
				}
				&.pentasa a {
					background-image: url(../images/icon/bullet-casopis-pentasa.gif);
				}
				&:nth-child(even) a{
					background-color:#f3f3f8;
				}
			}
		}
	}
}
.sidebar-menu{
	padding: 2px 0 3px;
	margin: 0 0 30px;
	border-top: 1px solid #d4e3c5;
	border-bottom: 1px solid #d4e3c5;
	ul{
		.rul;
		li{
			.rli;
			font-size: 14px;
			line-height: 1.2;
			padding: 8px 0 7px 23px;
			border-top: 1px dotted #d4e3c5;
			&:before{
				.border-radius(50%);
				width: 9px;
				height: 9px;
				top: 11px;
				left: 4px;
				border: 1px solid #d2ddc7;
			}
			&.on{
				&:before{
					border: 2px solid #afbf00;
				}
				&>a{
					font-weight: bold;
				}
			}
			&:first-child{
				border: none;
			}
			a{
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.box-partneri{
	margin: 0 0 30px;
	header{
		.fh;
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 15px;
	}
	ul{
		.rul;
		li{
			.rli;
			text-align: center;
			margin: 10px 0;
		}
	}
}
.box-akce{
	.clearfix;
	.border-radius(0 0 6px 6px);
	.box-shadow(0 0 8px fade(#000,30%));
	color: #fff;
	background: #959e89;
	a{
		color: #fff;
	}
	figure{
		float: left;
		padding: 46px 0 20px 40px;
	}
	.content{
		.border-radius(0 0 6px 6px);
		position: relative;
		margin: 0 0 0 280px;
		padding: 50px 53px 10px;
		background: #7f8775;
		min-height: 286px;
		&:before{
			position: absolute;
			left: 0;
			top: 45px;
			content: '';
			border: 19px solid transparent;
			border-left-color: #959e89;
			border-left-width: 24px;
			border-right-width: 0;
		}
		header{
			.fh;
			font-size: 21px;
			line-height: 1.2;
			margin: 0 0 15px;
		}
		h2{
			.fp;
			font-size: 20px;
			margin: 12px 0;
		}
		.date{
			font-size: 16px;
			margin: 12px 0;
			&:before{
				.fi;
				margin: 0 15px 0 0;
				font-size: 28px;
				content: '\e806';
			}
		}
		.buttons{
			margin: 26px 0 0;
			ul{
				.rul;
				.clearfix;
				li{
					.rli;
					float: left;
					a{
						.transition(0.2s);
						display: inline-block;
						position: relative;
						color: #fff;
						height: 31px;
						line-height: 31px;
						margin: 0 20px 0 0;
						text-decoration: none;
						padding: 0 10px;
						font-size: 14px;
						background: @cl;
						&:before{
							.transition(0.2s);
							position: absolute;
							content: '';
							left: 100%;
							top: 0;
							border: 15px solid transparent;
							border-right-width: 0;
							border-left-width: 7px;
							border-left-color: @cl;
						}
						.icon{
							font-size: 15px;
							float: left;
							margin: 0 8px 0 0;
						}
						&:hover{
							background: lighten(@cl,10%);
							&:before{
								border-left-color: lighten(@cl,10%);
							}
						}
					}
					&:nth-child(even){
						a{
							color: @cp;
							background: #b1bda4;
							&:before{
								border-left-color: #b1bda4;
							}
							&:hover{
								background: lighten(#b1bda4,10%);
								&:before{
									border-left-color: lighten(#b1bda4,10%);
								}
							}
						}
					}
				}
			}
		}
	}
}
#page-footer{
	padding: 7px 40px;
	font-size: 14px;
	a{
		color: @cp;
	}
}
// form
label{
	display: block;
}
input[type=text],input[type=password],input[type=email]{
	.rin;
	.border-radius(4px);
	height: 28px;
	padding: 4px 7px;
	width: 100%;
	font-size: 14px;
	border: 1px solid lighten(@cp,30%);
	background: #fff;
	&:focus{
		border-color: @cp;
	}
	&.input-small{
		width: 70px;
	}
	&.input-large{
		width: 180px;
	}
}
input[type=submit]{
	.btn;
}
.form-row{
	.row;
	margin-top: 10px;
	margin-bottom: 10px;
}
// table
table{
	width: 100%;
	background: #fff;
	margin: 30px 0;
	font-size: 13px;
	th,td{
		border: 1px solid #bfbfbf;
		padding: 5px 10px;
		border-left-style: dotted;
		border-right-style: dotted;
		&:first-child{
			border-left-style: solid;
		}
		&:last-child{
			border-right-style: solid;
		}
	}
	thead td,th{
		font-weight: bold;
		color: @cl;
		background: #e3e3e3;
	}
}
.breadcrumbs{
	margin: 0 0 18px;
	padding: 8px 0 7px;
	font-size: 13px;
	border-top: 1px solid #d4e3c5;
	border-bottom: 1px dotted #d4e3c5;
	a,span{
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 0 0 0 10px;
		margin: 0 5px 0 0;
		color: #afbf00;
		&:before{
			position: absolute;
			content: '\203a';
			left: 0;
			top: -2px;
			color: @cp;
		}
		&.home{
			text-indent: -9999px;
			line-height: 1;
			padding-left: 0;
			margin-right: 0;
			width: 17px;
			&:before{
				.fi;
				position: absolute;
				left: -1px;
				top: -1px;
				text-indent: 0;
				font-size: 15px;
				color: @cl;
				content: '\e808';
			}
			&:hover{
				&:before{
					color: @cp;
				}
			}
		}
	}
	a{
		color: @cp;
		&:hover{
			text-decoration: underline;
		}
	}
}