
.icon-search:before { content: '\e800'; } /* '' */
.icon-tasks:before { content: '\e801'; } /* '' */
.icon-angle-circled-left:before { content: '\e802'; } /* '' */
.icon-angle-circled-right:before { content: '\e803'; } /* '' */
.icon-angle-circled-up:before { content: '\e804'; } /* '' */
.icon-angle-circled-down:before { content: '\e805'; } /* '' */
.icon-calendar-empty:before { content: '\e806'; } /* '' */
.icon-paste:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */