@font-face {
  font-family: 'cls-icons';
  src: url('../font/cls-icons.eot?88556062');
  src: url('../font/cls-icons.eot?88556062#iefix') format('embedded-opentype'),
       url('../font/cls-icons.woff?88556062') format('woff'),
       url('../font/cls-icons.ttf?88556062') format('truetype'),
       url('../font/cls-icons.svg?88556062#cls-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cls-icons';
    src: url('../font/cls-icons.svg?88556062#cls-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "cls-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-tasks:before { content: '\e801'; } /* '' */
.icon-angle-circled-left:before { content: '\e802'; } /* '' */
.icon-angle-circled-right:before { content: '\e803'; } /* '' */
.icon-angle-circled-up:before { content: '\e804'; } /* '' */
.icon-angle-circled-down:before { content: '\e805'; } /* '' */
.icon-calendar-empty:before { content: '\e806'; } /* '' */
.icon-paste:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */